* {
  padding: 0;
  margin: 0; }
  * .list {
    margin-left: 20px; }
    * .list h4 {
      border-bottom: 1px solid #cccccc;
      font-size: 20px; }
    * .list p {
      line-height: 30px; }
    * .list h6 {
      border-bottom: 1px solid #cccccc;
      margin-top: 10px;
      font-size: 20px; }
    * .list h5 {
      margin-top: 10px;
      line-height: 44px;
      border-bottom: 2px solid #333;
      padding-left: 20px; }
    * .list .activitylist {
      display: flex; }
      * .list .activitylist dl {
        margin-top: 10px;
        flex: 1;
        margin-right: 10%;
        padding: 10px;
        height: 200px; }
        * .list .activitylist dl dt {
          position: relative; }
          * .list .activitylist dl dt .input-file label {
            margin: 0;
            width: 100%;
            min-height: 200px;
            background: #eee url("../img/tu1.png") no-repeat center center; }
            * .list .activitylist dl dt .input-file label input {
              visibility: hidden;
              width: 0;
              height: 0; }
          * .list .activitylist dl dt span {
            position: absolute;
            left: -50px;
            top: -50px;
            border: 50px solid transparent;
            border-bottom-color: #d45858;
            width: 0;
            height: 0;
            color: #fff;
            -webkit-transform: rotate(-45deg); }
          * .list .activitylist dl dt em {
            position: absolute;
            left: 0;
            top: 14px;
            color: #fff;
            font-style: normal;
            -webkit-transform: rotate(-45deg); }
        * .list .activitylist dl dd p {
          font-size: 12px;
          color: #999; }
          * .list .activitylist dl dd p span {
            float: right; }
    * .list .activeList div:nth-child(2) dl dt span {
      border-bottom-color: #757575; }
    * .list .activeList div:nth-child(3) dl dt span {
      border-bottom-color: #01b0b9; }
    * .list .img {
      width: 100%;
      margin-top: 10px;
      min-height: 500px; }
    * .list label {
      border: none; }
      * .list label img {
        display: block;
        width: 100%;
        min-height: 500px; }
    * .list ul li {
      list-style: none;
      line-height: 30px;
      border-bottom: 1px solid #999; }
      * .list ul li span {
        float: right; }
        * .list ul li span time {
          padding-right: 20px; }
    * .list .half {
      display: flex; }
      * .list .half .test {
        flex: 1;
        margin-right: 20px; }
        * .list .half .test input {
          width: 100%;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 10px; }
    * .list .test1 {
      margin-right: 20px; }
      * .list .test1 input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px; }
    * .list form input {
      width: 100%;
      height: 50px; }
    * .list form button {
      position: absolute;
      right: 0;
      margin-top: 10px;
      background: #01b0b9;
      border: 1px solid #01b0b9;
      border-radius: 5px;
      width: 127px;
      height: 40px; }

/*# sourceMappingURL=style.css.map */
